:root {
  --palette-1: #f8f9fa;
  --palette-2: #e9ecef;
  --palette-3: #dee2e6;
  --palette-4: #ced4da;
  --palette-5: #adb5bd;
  --palette-6: #6c757d;
  --palette-7: #495057;
  --palette-8: #343a40;
  --palette-9: #212529;
}
